@font-face {
  font-family: 'LiSu2';
  src: url('/print/lishu.ttf');
}

@font-face {
  font-family: 'FLS2';
  src: url('/print/FZL2JW.TTF');
}

@font-face {
  font-family: 'KaiTi3';
  src: url('/print/xingkai.ttf');
}

@font-face {
  font-family: 'LiuTi';
  src: url('/print/liugongquan.ttf');
}

@font-face {
  font-family: 'SongTi';
  src: url('/print/songti.ttf');
}

@font-face {
  font-family: 'WeibeiSC-Bold2';
  src: url('/print/classic-weibei.ttf');
}

.settingsArea {
  position: relative;
  background-color: #fff;
}
.root {
  position: relative;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */

  -webkit-user-select: none; /* Chrome/Safari/Opera */

  -khtml-user-select: none; /* Konqueror */

  -moz-user-select: none; /* Firefox */

  -ms-user-select: none; /* Internet Explorer/Edge */

  user-select: none;
}
.tagList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;

  .tagActive {
    border-radius: 30px;
    transition: all 0.2s linear;
  }
  :global {
    .adm-tag {
      margin-right: 5px;
      margin-bottom: 10px;
      line-height: 28px;
      font-size: 16px;
      display: inline-block;
      padding: 0 6px;
    }
  }
}

.description {
  span {
    display: block;
    padding: 0 6px;
    transition: all 1s;
  }
}
.wChanged,
.hChanged {
  background-color: #1677ff;
  color: #fff;
}
.fontName {
  font-size: 20px;
}
.adjustArea {
  :global {
    .adm-list-item-content-main {
      padding: 0;
    }
    .adm-form-item-label {
      margin-bottom: 0;
    }
  }
}
:global {
  .adm-list-item-content-extra {
    // button {
    //   padding: 4px 6px;
    // }
  }
  .adm-list-item-content-main {
    padding: 6px 0;
  }
  .adm-slider-track-container {
    padding: 18px 0;
  }
  .adm-text-area,
  .adm-input-element {
    font-size: 20px;
    font-family: PingFangSC-Regular;
    color: #333;
  }
  .adm-action-sheet-extra {
    font-size: 20px;
  }
  .adm-action-sheet-button-item-name {
    font-size: 23px;
  }
  .adm-button.adm-button-shape-rectangular {
    padding: 10px 0;
  }
  .adm-form-item-label-required {
    display: none;
  }
  .adm-slider {
    padding-top: 0;
    padding-bottom: 0;
  }
  .adm-slider-mark {
    font-size: 15px;
    padding-top: 6px;
  }
  .adm-radio-content {
    font-size: 20px;
  }
  .adm-radio + .adm-radio {
    margin-left: 40px;
  }
  .adm-list-item {
    padding-left: 10px;
  }
  .adm-list-item-content {
    padding-right: 10px;
  }
  .adm-form-vertical .adm-form-item-label,
  .adm-form-item-label {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #999;
    line-height: 20px;
    margin-bottom: 4px;
  }

  .adm-form-item-footer {
    font-size: 15px;
  }
  .adm-form .adm-form-footer button,
  .adm-button.adm-button-large {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    height: 49px;
    line-height: 1;
  }
  .adm-form .adm-form-footer {
    padding: 6px 10px;
  }
}

.settings {
  padding: 0;
  font-family: PingFangSC-Regular;
  z-index: 200;
  position: relative;
  background-color: #fff;

  .count {
    color: #aaa;
    float: right;
    font-size: 18px;
    margin-top: 4px;
  }
}

.title {
  color: #969696;
  background-color: #f4f7fa;
  margin: 0;
  font-size: 26px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  padding: 0;
}

.kedu {
  position: relative;
  padding: 0 0 61px 20px;
  overflow: hidden;
}
.printAreaA4 {
  color: red;
  overflow: hidden;
}
.row {
  display: flex;
  align-items: center;
  position: relative;
  .rowIndex {
    position: absolute;
    left: -20px;
    top: 0;
    display: block;
    width: 20px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 5;
  }
}
.col {
  display: inline-block;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  span {
    line-height: 1;
    font-size: 100px;
  }
}

.printTextAlignCenter {
  .row {
    justify-content: center;
  }
  .rowEmptyWord,
  .emptyWord {
    display: none !important;
  }
}

:global {
  .adm-modal-content {
    text-align: center;
  }

  .adm-modal-body .adm-space-item:first-child {
    display: none;
  }
}
.printWholeCenter {
  .row {
    justify-content: center;
  }
  .emptyWord {
    display: none !important;
  }
}

// 210mm×297mm
.privewAreaA4 {
  width: 100%;
  // display: none;
  overflow: hidden;
  .a4 {
    width: 100%;
    color: red;
    background-color: #333;
    display: flex;

    & > div {
      width: 100%;
      position: relative;
      &::after {
        display: block;
        position: absolute;
        left: 0;
        background-color: #aaa;
        bottom: 0;
        // font-size: 12px;
        content: ' ';
        height: 1px;
        width: 100%;
        z-index: 2;
      }
    }
  }
}

@page {
  size: A4 portrait;
  margin: 0;
}

.actionFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.printAreaA4 {
  position: relative;
  display: none;
  visibility: hidden;
  &::after {
    display: block;
    content: ' ';
    background-color: #000;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  & > div + div {
    &::after {
      display: block;
      content: ' ';
      background-color: #fff;
      height: 0;
      border: 1px dashed #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  & > div {
    position: relative;
    z-index: 9;
  }
}
.calculateItem {
  height: 1px;
  overflow: hidden;
  background-color: #f4f7fa;
  & > div {
    height: 1px;
    width: 210mm;
  }
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .actionFooter,
  .settings,
  .kedu {
    display: none;
    visibility: hidden;
  }

  .printAreaA4 {
    visibility: visible;
    display: block;

    &::after {
      display: none;
    }

    & > div + div {
      &::after {
        display: none;
      }
    }
  }
}
